
<div class="container main">
    
    <div *ngFor="let item of hospitals" style="width: 100%;"  class="container carde">
        <div  class="col-md-4 img">
            <img src="assets/images/hospital-icon-clipart-8.jpg">
        </div>
        <div class="container">
            <div class="col-md-3 text">
                <label class="gras">{{item.name}}</label><br>
                 <label class="petit">{{item.remark}}</label><br>
                 <label class="petit">{{item.history}}</label> 
             </div>
        </div>
        <div class="col-md-5 btne">
            <button class="btn btn-primary">Rendez vous</button>
        </div>
    </div>  
</div>
             